@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');
body {
    font-family: 'Fira Mono', monospace;
    text-align: center;
    color: #fff;
    background-color: #1b1a17;
}

h2 {
    font-size: 3rem;
    background-color: #1b1a17;
    margin-top: 2rem;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    margin-left: 15rem;
    text-align: justify;
    padding: 0 5rem 2.2rem 0;
}

input {
    font-family: 'Fira Mono', monospace;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 0.1rem;
    border-bottom: 2px solid #a6a9b6;
    margin-bottom: 3rem;
    font-size: 2.3rem !important;
    background-color: #1b1a17;
}

input::placeholder {
    color: #a6a9b6;
}

input:focus {
    color: #fff;
    border: 2px solid #a6a9b6;
}

button {
    margin-left: 0.3rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #1b1a17;
}

button:focus {
    outline: none;
}

h4 {
    padding: 1rem 0;
}

@media all and (max-width: 985px) {
    h2 {
        font-size: 5rem;
    }
    p {
        margin-left: 4rem;
        text-align: justify;
        padding: 0 2rem 4.3rem 0;
        font-size: 1.2rem;
    }
    input {
        font-family: 'Fira Mono', monospace;
        height: 5.5rem;
        font-size: 2.8rem;
        margin-bottom: 5rem;
    }
    button {
        height: 2rem;
        font-size: 4rem;
        padding-left: 1rem;
    }
}


/* @media all and (max-width: 720px) {
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 2rem;
        margin-left: 0.1rem;
        text-align: justify;
        padding: 0 4rem 2.2rem 0;
    }
    input {
        font-family: 'Fira Mono', monospace;
        height: 3rem;
    }
    button {
        padding-top: 1rem;
        height: 3.1rem;
        font-size: 2.1rem;
    }
} */